force-app/main/default/flows/Unique_Planned_Sales_Record_Constraint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Duplicate_Error_Message</name>
        <label>Duplicate Error Message</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>This Planned Sale already exist</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_For_Duplicate_Planned_Sales</name>
        <label>Check For Duplicate Planned Sales</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Planned_Sales_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Error_Message</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <description>Implement a rule to ensure that only one Planned Sales record can
be created for a combination of Year, Month, and Car Type (New or
Used).
Any attempt to create a duplicate record for the same combination
should trigger an error message.</description>
    <environments>Default</environments>
    <interviewLabel>Unique Planned Sales Record Constraint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unique Planned Sales Record Constraint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Planned_Sales_Records</name>
        <label>Get All Planned Sales Records</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Duplicate_Planned_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Car_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Car_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Planned_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Planned_Sales_Records</targetReference>
        </connector>
        <object>Planned_Sales__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
